SESSION_SECRET=0jLXKmxfgBoStNTbzfapFypLxevlA+fsvz9WWQkmM1dhpfKZzoa8IeXtM090nzdZDZO6+EIRifHk9NrgB8hhQg==
DATABASE_URL=postgresql://neondb_owner:npg_KnRp0s9ZAEUB@ep-fragrant-hall-a4ifi32n.us-east-1.aws.neon.tech/neondb?sslmode=require
PGDATABASE=neondb
PGHOST=ep-fragrant-hall-a4ifi32n.us-east-1.aws.neon.tech
PGPORT=5432
PGUSER=neondb_owner
PGPASSWORD=npg_KnRp0s9ZAEUB
ZOHO_CLIENT_ID=1000.PN95R6Y7PD575SSQAKTO5RHF0LQ7MD
ZOHO_CLIENT_SECRET=5ca9ef6331bc1d40f311d88366d943977e7005974b
ZOHO_REFRESH_TOKEN=1000.1069ec0b4c674cbba4ec300fecbda6b6.631e5da554e1b805489e787086fc41ce
ZOHO_ORGANIZATION_ID=889016479
# AUTHORIZE_NET_API_LOGIN_ID=AuthNet_Ice
# AUTHORIZE_NET_TRANSACTION_KEY=Subzero1973
AUTHORIZE_NET_API_LOGIN_ID=56eD24VkfE
AUTHORIZE_NET_TRANSACTION_KEY=4868nJ7k7Vpv5H4K
AUTHORIZE_NET_SANDBOX=true # false
JWT_SECRET=supersecret
NODE_ENV = development # production
PAX_TERMINAL_IP=192.168.1.112
PAX_TERMINAL_PORT=10009
PAX_TERMINAL_TIMEOUT=30000

# Location 001 (MIA - Miami) - Printer IP
PRINTER_IP_LOC001=192.168.1.101
PRINTER_PORT_LOC001=9100

# Location 002 (FLL - Fort Lauderdale) - Printer IP
PRINTER_IP_LOC002=192.168.1.102
PRINTER_PORT_LOC002=9100

# Location 003 (WC - West Coast) - Printer IP
PRINTER_IP_LOC003=192.168.1.103
PRINTER_PORT_LOC003=9100

# Location 004 (ORL - Orlando) - Printer IP
PRINTER_IP_LOC004=192.168.1.104
PRINTER_PORT_LOC004=9100

# Frontend URL for CORS (comma-separated for multiple origins)
DATABASE_SETTING=local # cloud
FRONTEND_URL=http://86.104.72.45:5000

# Server Port
PORT=3000

REGISTRATION_KEY=1234